body{
  background-color: deeppink;
  color: aqua;
  width: 500px;
  margin-right: auto;
  margin-left: auto;
}
button{
  padding: 5px 20px;
  background-color: chartreuse;
  color: red;
  border-style: dotted;
}
input{
  height: 20px;
}